.About {
    position       : relative;
    top            : 20px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    flex-direction : row;
    width          : clamp(200px, 700px, 85vw);
    margin         : auto;

    background-color: rgba(0, 0, 0, 0.665);
    @include rounded-shadow-border;

    @media screen and(max-width: 1200px) {
        flex-direction: column;

    }

    .column-one {
        padding         : 10px;
        background-color: rgba(255, 255, 255, 0.3);
        @include rounded-shadow-border;

        .about-text {
            max-width : 800px;
            text-align: justify;
            font-size : 1.4rem;
        }
    }

    .column-two {
        margin         : 1%;
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-evenly;

        .google-span {
            align-self     : normal;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            align-items    : center;

            .google-text {
                display        : flex;
                flex-direction : row;
                justify-content: center;
                align-items    : center;
                text-align     : center;
                margin-top     : 10px;

                .maps-icon {
                    max-width  : 50px;
                    max-height : 50px;
                    margin-left: 8px;
                }
            }

            #google-iframe {
                @include rounded-shadow-border;
            }
        }
    }

    @media screen and(max-width: 800px) {
        .column-one {
            .about-text {
                font-size: 2.5vh;
            }
        }

        .column-two {
            .google-span {
                width: 100%;

                #google-iframe {
                    width : 100%;
                    height: 50vh;
                }
            }
        }
    }

    @media screen and(max-device-width: 800px) {

        .column-two {
            width: 75vw;
        }

        .panos-gallery {
            width: 70vw;

            img {
                max-width: 70vw;
            }
        }
    }
}