.About {
    position       : relative;
    top            : 20px;
    left           : 0px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    flex-direction : row;
    width          : 85vw;
    margin         : auto;

    background-color: rgba(0, 0, 0, 0.665);
    @include rounded-shadow-border;

    @media screen and(max-width: 1200px) {
        flex-direction: column;

    }

    .column-one {
        padding: 25px;

        .about-text {
            max-width : 800px;
            text-align: justify;
            font-size : 1.4rem;

            p {

                ul {
                    padding-left: 30px;
                    list-style  : none;


                    li {
                        border: none;

                        &:before {
                            content     : '✓';
                            margin-right: 10px;
                        }
                    }
                }
            }

        }
    }

    .column-two {
        margin         : 1%;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-evenly;

        .tell-us {
            font-size  : 1.8rem;
            text-align : center;
            font-weight: 300;
            margin-top : 10px;
        }

        .google-span {
            align-self     : normal;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            align-items    : center;
            font-size      : 1.4rem;
            text-align     : center;

            .stuff-span {
                display       : flex;
                flex-direction: row;

                div {
                    text-align: center;
                    font-size : 1.6rem;

                    .stuff {
                        width        : 225px;
                        height       : 300px;
                        margin       : 0 10px;
                        border-radius: 15px;

                    }

                    p {
                        margin: 10px 0px;
                    }

                }

                @media screen and(max-width: 800px) {
                    flex-direction: column;
                }
            }

            .trusted {
                width        : 175px;
                height       : 206.5px;
                border-radius: 15px;
                ;
            }

            .google-text {
                display        : flex;
                flex-direction : row;
                justify-content: center;
                align-items    : center;
                text-align     : center;
                margin-top     : 10px;

                a {
                    max-width  : 50px;
                    max-height : 50px;
                    width      : 100%;
                    height     : 100%;
                    margin-left: 5px;

                    .maps-icon {
                        max-width : 50px;
                        max-height: 50px;
                    }
                }
            }
        }
    }

    @media screen and(max-width: 800px) {
        .column-one {
            .about-text {
                font-size: 2.5vh;
            }
        }

        .column-two {
            .google-span {
                width: 100%;
            }
        }
    }


    @media screen and(max-device-width: 800px) {

        .column-two {
            width: 75vw;
        }

        .panos-gallery {
            width: 70vw;

            img {
                max-width: 70vw;
            }
        }
    }
}