.Contact {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    margin          : auto;
    margin-top      : 10px;
    max-width       : 400px;
    text-align      : center;
    background-color: rgba(0, 0, 0, 0.665);
    @include rounded-shadow-border;

    a {
        color: rgba(0, 172, 240, 0.7);
    }

    .external-links {
        img {
            margin   : 0 0.7vh;
            max-width: 50px;
        }
    }

    @media screen and (max-device-width: 800px) {
        transform: scale(0.75);
    }
}