.copyright-bar {
    position: fixed;
    bottom  : 0;
    left    : 0;
    right   : 0;
    height  : 50px;

    .external-links {
        position     : relative;
        margin-top   : 7px;
        margin-bottom: 7px;
        margin-left  : 30px;
        height       : 100%;
        width        : 150px;

        img {
            margin   : 0 0.7vh;
            max-width: 36px;
        }
    }

    .fa-arrow-alt-circle-up {
        position     : relative;
        left         : 50%;
        bottom       : 0;
        font-size    : 35px;
        transform    : translate(-50%, 0%) rotate(180deg);
        color        : rgb(0, 172, 240);
        cursor       : pointer;
        z-index      : 2;
        transition   : bottom 0.75s ease;
        // bottom    : 55px;

        &.visible {
            bottom: 55px;
        }

        &.rotate {
            transform: translate(-50%, 0%) rotate(0);
        }
    }

    .copyright {
        position : absolute;
        bottom   : 2vh;
        right    : 2vw;
        font-size: 1rem;

        /*     @media screen and (max-device-width :1024px) {
            font-size: 1vh;
        } */
    }
}