.Gallery {
    text-align     : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    .showrooms {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-evenly;
        width          : 85vw;

        .wpg-span {
            #wpg-museum {
                width          : 500px;
                height         : 500px;
                object-fit     : cover;
                object-position: center;
                box-sizing     : border-box;
                @include rounded-shadow-border;

                &:hover {
                    filter: opacity(80%);
                }
            }
        }

        .google-span {
            align-self: normal;

            .google-text {
                display        : flex;
                flex-direction : row;
                justify-content: center;

                .maps-icon {
                    max-width  : 50px;
                    max-height : 50px;
                    margin-left: 15px;
                }
            }

            #google-iframe {
                @include rounded-shadow-border;
            }
        }
    }

    .icon-horizon {
        width: 35px;
    }

    #google-we-were-here {
        @include rounded-shadow-border;
    }

    .changing {
        width          : 100%;
        height         : 100%;
        display        : flex;
        justify-content: center;
        align-items    : center;

        h2 {
            padding: 0 20px;
        }

        .dot-windmill {
            background-color: #00adef;

            &:before {
                background-color: #00adef;
            }

            &:after {
                background-color: #00adef;
            }
        }
    }

    @media screen and(max-width: 1200px) {
        .showrooms {
            flex-direction: column;
        }
    }

    @media screen and(max-width: 800px) {
        .showrooms {
            .wpg-span {
                #wpg-museum {
                    width : 100%;
                    height: 40%;
                }
            }

            .google-span {
                width: 100%;

                #google-iframe {
                    width : 100%;
                    height: 50vh;
                }
            }
        }

        #google-we-were-here {
            width : 90vw;
            height: 40vh;
        }
    }

    @media screen and(max-device-width: 800px) {
        .showrooms {
            flex-direction: column;

            .wpg-span {
                #wpg-museum {
                    width : 100%;
                    height: 40%;
                }
            }

            .google-span {
                width: 100%;

                #google-iframe {
                    width : 100%;
                    height: 50vh;
                }
            }
        }

        #google-we-were-here {
            width : 90vw;
            height: 40vh;
        }
    }
}