.Gallery {
    margin         : auto;
    width          : 85vw;
    text-align     : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    background-color: rgba(0, 0, 0, 0.665);
    @include rounded-shadow-border;

    .icon-horizon {
        width: 35px;
    }

    .panos-gallery,
    .tours-gallery {
        width          : 85vw;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-evenly;

        .pano-links {
            padding: 5px;

            .panos-container {
                position  : relative;
                text-align: center;

                img {
                    @include rounded-shadow-border;
                    border-width: 2px;
                    border-style: solid;
                    border-color: rgb(0, 172, 240);
                }

                .image-title {
                    position        : absolute;
                    top             : 70%;
                    left            : 50%;
                    width           : calc(100% - 4px);
                    transform       : translate(-50%, -50%);
                    background-color: hsla(0, 0%, 0%, 0.4);
                }

                &:hover {
                    img {
                        border-color: hsla(0, 0%, 0%, 0.9)
                    }

                    .image-title {
                        background-color: unset;
                    }

                    :not(.image-title) {
                        filter: brightness(45%);
                    }
                }
            }
        }
    }

    @media screen and(max-device-width: 800px) {

        .panos-gallery,
        .tours-gallery {
            width: 70vw;

            img {
                max-width: 70vw;
            }
        }
    }
}