.Gallery {
    text-align     : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    .showrooms {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-evenly;
        width          : 85vw;

        .wpg-span,
        .szalas-span {

            #wpg-museum,
            #szalas-image {
                width          : 300px;
                height         : 300px;
                object-fit     : cover;
                object-position: center;
                box-sizing     : border-box;
                @include rounded-shadow-border;
            }

            #wpg-museum {
                &:hover {
                    filter: opacity(80%);
                }
            }
        }
    }

    .icon-horizon {
        width: 35px;
    }

    .panos-gallery,
    .tours-gallery {
        width          : 85vw;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-evenly;

        .pano-links {
            padding: 5px;

            .panos-container {
                position  : relative;
                text-align: center;

                &:hover :not(.image-title) {
                    filter: brightness(45%);
                }

                img {
                    @include rounded-shadow-border;

                }

                .image-title {
                    position : absolute;
                    top      : 50%;
                    left     : 50%;
                    transform: translate(-50%, -50%);
                }
            }

        }
    }

    @media screen and(max-width: 1200px) {
        .showrooms {
            flex-direction: column;
        }
    }

    @media screen and(max-width: 800px) {
        .showrooms {

            .wpg-span,
            .szalas-span {

                #wpg-museum,
                #szalas-image {
                    max-width: 100%;
                    height   : auto;
                }
            }
        }
    }

    @media screen and(max-device-width: 800px) {
        .showrooms {
            width: 75vw;
        }

        .panos-gallery {
            width: 70vw;

            img {
                max-width: 70vw;
            }
        }
    }
}