.Home {
    .home-logo {
        position: fixed;
        top     : 15px;
        left    : 3%;
        height  : 150px;

        @media screen and (max-width:900px) {
            height: 110px;
        }

        @media screen and (max-device-width:800px) {
            height: 80px;
        }
    }

    @keyframes showTopText {
        0% {
            transform: translate3d(0, 100%, 0);
        }

        40%,
        60% {
            transform: translate3d(0, 50%, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes showBottomText {
        0% {
            transform: translate3d(0, -100%, 0);
        }

        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    .animated-title {
        color   : #222;
        height  : 30vmin;
        left    : 15%;
        top     : 25vh;
        position: absolute;
        width   : 90vmin;

        >div {
            height  : 40%;
            overflow: hidden;
            position: absolute;
            top     : 38%;
            width   : 100%;

            div {
                font-size: 5vmin;
                padding  : 2vmin 0;
                position : absolute;

                span {
                    display: block;
                }
            }
        }

        .text-top {
            border-bottom: 0.5vmin solid #000;
            width        : 45%;
            top          : 0;

            div {
                animation          : showTopText 1s;
                animation-delay    : 0.5s;
                animation-fill-mode: forwards;
                bottom             : 0;
                padding            : 0;
                transform          : translate(0, 100%);

                span:first-child {
                    color: #767676;
                }
            }
        }

        .text-bottom {
            bottom: 18vmin;

            div {
                animation          : showBottomText 0.5s;
                animation-delay    : 1.75s;
                animation-fill-mode: forwards;
                top                : 0;
                transform          : translate(0, -100%);
            }
        }

        transition: left 0.85s;

        @media screen and (max-device-width: 800px) {
            left  : 5%;
            height: 40vmin;

            >div {
                div {
                    font-size: 7vmin;
                }
            }

            .text-top {
                width: 70%;
            }
        }

        &.hidden {

            left: -1000px;
        }
    }
}