@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "./mixins";
@import "./home";
@import "./gallery";
@import "./navbar";
@import "./copyrightBar";

html,
body {
    position       : fixed;
    padding        : 0;
    margin         : 0;
    height         : 100%;
    right          : 0;
    bottom         : 0;
    top            : 0;
    left           : 0;
    font-family    : 'Roboto', sans-serif;
    background     : url("../assets/images/bg.jpg") center no-repeat;
    background-size: cover;
}

#myVideo {
    position  : fixed;
    right     : 0;
    bottom    : 0;
    min-width : 100%;
    min-height: 100%;
    z-index   : -1;
}

// TODO max width of page not to exceed logo, try to hide scroll!

.main {
    position        : fixed;
    right           : 0;
    bottom          : 0;
    top             : 0;
    left            : 0;
    margin-top      : 100px;
    margin-bottom   : 50px;
    // margin-left  : 340px;
    // margin-right : 340px;
    overflow-y      : auto;
    transition      : margin-top 0.5s;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width   : none;

    @media screen and (max-device-width: 800px) {
        &.mobile-extend {
            margin-top: 0;
        }
    }
}