html,
body {
    position: fixed;
    padding : 0;
    margin  : 0;
    right   : 0;
    bottom  : 0;
    top     : 0;
    left    : 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family            : 'Roboto', sans-serif;
}

#myVideo {
    position  : fixed;
    right     : 0;
    bottom    : 0;
    min-width : 100%;
    min-height: 100%;
    z-index   : -1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.main {
    position  : fixed;
    right     : 0;
    bottom    : 0;
    top       : 0;
    left      : 0;
    overflow-y: auto;
    transition: margin-top 0.5s;
}

.Home {
    text-align     : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    .showrooms {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-evenly;
        width          : 85vw;

        #wpg-museum {
            width          : 450px;
            height         : 450px;
            object-fit     : cover;
            object-position: center;
            box-sizing     : border-box;
            box-shadow     : 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius  : 30px;
        }

        .google-span {
            .google-text {
                display        : flex;
                flex-direction : row;
                justify-content: center;

                .maps-icon {
                    max-width  : 50px;
                    max-height : 50px;
                    margin-left: 15px;
                }
            }
        }
    }

    .logo-mainpage {
        margin   : 2vh 0;
        width    : 50%;
        max-width: 400px;
    }

    .changing {
        width          : 100%;
        height         : 100%;
        display        : flex;
        justify-content: center;
        align-items    : center;

        h2 {
            padding: 0 20px;
        }

        .dot-windmill {
            background-color: #00adef;

            &:before {
                background-color: #00adef;
            }

            &:after {
                background-color: #00adef;
            }
        }
    }

    .external-links {
        img {
            margin   : 1vh;
            max-width: 75px;
        }
    }

    @media screen and(max-device-width: 800px) {
        .showrooms {
            flex-direction: column;

            .wpg-span {
                #wpg-museum {
                    width : 100%;
                    height: 40%;
                }
            }

            .google-span {
                #google-iframe {
                    width : 100%;
                    height: 50vh;
                }
            }
        }
    }
}