html,
body {
  position: fixed;
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-transition: margin-top 0.5s;
  transition: margin-top 0.5s;
}

.Home {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .showrooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 85vw;
}

.Home .showrooms #wpg-museum {
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.Home .showrooms .google-span .google-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Home .showrooms .google-span .google-text .maps-icon {
  max-width: 50px;
  max-height: 50px;
  margin-left: 15px;
}

.Home .logo-mainpage {
  margin: 2vh 0;
  width: 50%;
  max-width: 400px;
}

.Home .changing {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .changing h2 {
  padding: 0 20px;
}

.Home .changing .dot-windmill {
  background-color: #00adef;
}

.Home .changing .dot-windmill:before {
  background-color: #00adef;
}

.Home .changing .dot-windmill:after {
  background-color: #00adef;
}

.Home .external-links img {
  margin: 1vh;
  max-width: 75px;
}

@media screen and (max-device-width: 800px) {
  .Home .showrooms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Home .showrooms .wpg-span #wpg-museum {
    width: 100%;
    height: 40%;
  }
  .Home .showrooms .google-span #google-iframe {
    width: 100%;
    height: 50vh;
  }
}
/*# sourceMappingURL=index.css.map */